{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "react-app",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "prettier",
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.js"
      },
      "node": {
        "extensions": [
          ".js",
          ".json"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-console": "off",
    "jsx-a11y/no-autofocus": [
      2,
      {
        "ignoreNonDOM": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "no-multi-spaces": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-dynamic-require": 0,
    "no-unused-vars": "off"
  }
}