{
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "flowtype",
    "import",
    "jsx-a11y",
    "react",
    "react-hooks"
  ],
  "rules": {
    "indent": ["error", 2, {
      "CallExpression": {"arguments": 1},
      "FunctionExpression": {"parameters": "first"},
      "SwitchCase": 1,
      "VariableDeclarator": 1
    }],
    "no-console": "off",
    "jsx-a11y/no-autofocus": [
      2,
      {
        "ignoreNonDOM": true
      }
    ],
    "no-multi-spaces": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}